body {
  background-color: #222;
  color: #fff;
}
a:hover {
  color: #a9a9a9;
}
a:link {
  color: #d3d3d3;
}
a:visited {
  color: #d3d3d3;
}
li {
  font-size: 1.5em;
  border: 1px solid #fff;
  padding: 5px;
}
